
*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
*, :after, :before {
    box-sizing: border-box;
}
div,article {
    display: block;
}
body::before{
    content: "";
    background-image: url("images/background.jpg");
    opacity: 0.6;
    background-size: cover;
    position:fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
body{
    margin: 0 auto;
    padding: 0;
    letter-spacing: 1px;
    color: #212529;
    text-align: left;
    height: 100vh;
}
.landing{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
}
.content-background{
    display: flex;
    position: fixed;
    
    width: 80vw;
    height: 100vh;
    max-width: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 7px 26px 0 rgb(0, 0, 0,1);
}
.landing,.content-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 550px;
    padding: 10px 0 0;
    margin: 0 auto;
}
.flex-container-top{
    display: flex;
    flex-direction: row;
    justify-content: end;

    max-width: 800px;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}
.avatar{
    flex:1;
    order: 1;
}
.navigation{
    display: flex;
    flex:1;
    order:2;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.navigation a{
    background: rgb(35, 36, 41);
    overflow: hidden;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;

    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    margin: 0.2rem 0.2rem;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgb(136, 136, 136);
}
article{
    flex-direction: column;
    background: rgba(151, 151, 151, 0.4);
    flex:1;
    overflow: hidden;
    border-radius: 12px;
    padding: 20px 10px;
    font-weight: bold;
}
a:hover{
    opacity: 0.6;
}
.header > h1, h2{
    padding-top: 2rem;
    font-size: 2.2rem;
}
.header > h2{
    color: rgb(255, 71, 71);
}
.footer{
    padding-top: 8rem;
    padding-bottom: 1rem;
    font-size: 0.7rem;
    justify-content: end;
}
@media screen and (max-width:800px){
    article,.footer{
        font-size: 0.95rem;
    }
    .header > h1, h2{
        font-size: 2rem;
        padding-top: 1rem;
    }
    .navigation a{
        font-size: 0.9rem;
        min-height: 3vh;
    }
    .content-background{
        width: 80vw;
        height: 100vh;
        max-width: 480px;
    }
    .landing,.content-wrapper{
        width: 80%;
        max-width: 550px;
        padding: 10px 0 0;
        margin: 0 auto;
    }
}

@media screen and (max-width:600px){
    .flex-container-top{
        flex-direction: column;
    }
    article,.footer{
        font-size: 0.85rem;
    }
    .header > h1, h2{
        font-size: 1.8rem;
        padding-top: 0.2rem;
    }
    .navigation a{
        font-size: 0.9rem;
        min-height: 1vh;
        max-height: 5rem;
    }
    .content-background{
        width: 80vw;
        height: 100vh;
        max-width: 420px;
    }
    .landing,.content-wrapper{
        width: 80%;
        max-width: 450px;
        padding: 10px 0 0;
        margin: 0 auto;
    }
}

@media screen and (max-width:400px){
    .flex-container-top{
        flex-direction: column;
    }
    article,.footer{
        font-size: 0.85rem;
    }
    .header > h1, h2{
        font-size: 1rem;
        padding-top: 0.1rem;
    }
    .navigation a{
        font-size: 0.6rem;
        min-height: 1vh;
        max-height: 2rem;
    }
    .content-background{
        width: 80vw;
        height: 100vh;
        max-width: 390px;
    }
    .landing,.content-wrapper{
        width: 80%;
        max-width: 350px;
        padding: 0;
        margin: 0 auto;
    }
}